extends templates/base.pug

block head
  link(rel="preconnect", href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap", rel="stylesheet")
  link(href="https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&display=swap")
  link(href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap", rel="stylesheet")
  link(rel="stylesheet", href="style/index.css")
  script(src='/script/index.js', defer)
  noscript 
    style 
      | body {opacity: 1 !important;}

block content
  body(style="opacity: 0;")
    main
    //- h1 Pitch Test 
    article.menu
      p.prompt 
        | In each stage, you will hear 2 tones in decreasing intervals.
        br
        | Can you tell whether the 2nd tone is higher or lower?
      section.continue 
        a.start Start 
      section.buttons 
        a.lower Lower
        a.next Next
        a.higher Higher
    section.volume
      label(for="volume") Volume
      input(name="volume", type="range", min="0", max="100", value="50")
    footer 
      a(href="https://alanp.me/") alanp.me